[user]
	name = evan slack
	email = evan.slack@outlook.com

[alias]

	# defaults
	s = status
	c = commit -m
	a = add
	pl = pull
	ps = push
	co = checkout
	br = branch -v
	rm = remote -v

	# view abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# show verbose output for branches
	branches = branch -a -v

	# amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

[apply]
	# detect whitespace errors when applying a patch
	whitespace = fix

[credential]
	helper = store

[color]
	# use colors in Git commands that are capable of colored output
	ui = auto
	diff   = auto
	status = auto
	branch = auto

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false

[core]
	# treat spaces before tabs and all kinds of trailing whitespace as an error
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# make `git rebase` safer on OS X
	trustctime = false
	editor = vim

	# exclude some junk
	excludesfile = ~/.gitignore_global
	pager = delta


[diff]
	# detect copies as well as renames
	colorMoved = default
	renames = copies

[merge]
	conflictstyle = diff3
	tool = vimdiff

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "vimdiff"]
	cmd = "nvim  -d $MERGED $LOCAL $BASE $REMOTE -c 'wincmd J | wincmd ='"

[init]
	defaultBranch = main

[push]
	default = simple

[pull]
	rebase = false

[help]
	# automatically correct and execute mistyped commands
	autocorrect = 2 # 2 seconds before auto executing

[url "ssh://git@github.com/"]
# enforce SSH
  insteadOf = https://github.com/
