# builtins
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias c="clear"
alias cl="clear"

alias l="exa --sort Name --group-directories-first"
alias ls="exa --sort Name --group-directories-first"
alias ll="exa --sort Name --long --group-directories-first --header --no-permissions"
alias la="exa --sort Name --long --all --group-directories-first --header --no-permissions"

alias path='echo -e ${PATH//:/\\n}'

# git
alias lg="lazygit"
alias g="git"
alias gs="git status"
alias gc="git commit -m"
alias ga="git add"
alias gpl="git pull"
alias gps="git push"
alias gco="git checkout"
alias gcl="git clone"

# edit
alias tm="tmux"
alias tmls="tmux ls"
alias vi="nvim"
alias vim="nvim"
alias vs="code ."
alias csv="csvlens"

# dev
alias lzd="lazydocker"
alias dk="docker"
alias dc="docker compose"
alias dcf="docker compose up --build --force-recreate -d"
alias dcl="docker compose logs --follow"

alias python="python3"
alias py="python3"
alias pip="pip3"

alias tf="terraform"
alias tfa="terraform apply --auto-approve"
alias tfd="terraform destroy --auto-approve"

alias k="kubectl"
alias tfs="task flux:sync"
alias vpn="sudo route add -net 10.0.0.0/8,  -interface ppp0"
alias rustscan='docker run -it --rm --name rustscan rustscan/rustscan:2.1.1'

# dotfiles
alias dots="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
alias editz="nvim ~/.zshrc"
alias edita="nvim ~/.aliases"
alias editv="nvim ~/.config/nvim/lua/core/plugins.lua"
alias editt="nvim ~/.config/tmux/tmux.conf"
alias editc="cd ~/.config"

alias sourcez="source ~/.zshrc"
